# Ignore logs, crash reports, and debug files
logs/
crash-reports/
debug/

# Ignore world saves and screenshots
saves/
screenshots/

# Ignore mod loader cache files
/.fabric/
/.neoforge/
/.forge/
/.litemod/

# Ignore user-specific files and cache
minecraft/shaderpacks
options.txt
servers.dat
usercache.json
usernamecache.json
whitelist.json
icon.png

# Ignore mod launcher metadata
.minecraft/.mixin.out/
minecraft/.mixin.out/
minecraft/mods/.index/
minecraft/mod_data/
minecraft/modernfix/
minecraft/controllable_natives/
minecraft/tacz/
minecraft/tacz_backup/
minecraft/essential/
minecraft/xaero/
minecraft/XaeroWaypoints_BACKUP*/

# Ignore specific config/data folders
minecraft/config/


# Ignore backup and temporary files
*.bak
*.tmp
*.lock

# Ignore Prism/Modrinth metadata if desired
minecraft/mods/.index/*.pw.toml
instance.cfg

# Ignore Mac/Windows junk
.DS_Store
Thumbs.db
minecraft/config/daycounter_5.0.json
minecraft/config/lithostitched.json


# Ignore exported modpacks
*.mrpack
*.zip
*.tar.gz